html {
  font-size: 16px;
}

body {
  margin: 0px;
}

header {
  height: 4rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logoContainer {
  display: flex;
  align-items: center;
}


nav.navLinks {
  margin-right: 3rem;
}

a.navlink{
  margin-right: 1rem;
}

section.banner {
  background-color: gray;
  display: flex; 
}

div.bannerPicContainer {
  width: 60%;
  display:inline-flex;
  
}

img.bannerPic {
  margin: 2rem 1.5rem;
  overflow: auto;
}

div.bannerTitleContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  font-size: 2.5rem;

}

h1.bannerTitle {
  margin: 0;
  color: rgb(29,29,30);
}

p.bannerPara {
  margin: 1.5rem 0;
  color:rgb(29,29,30);
}

button.bannerButton {
  width: 30rem;
  height: 4rem;
  background-color: darkslategray;
  font-size: 1.25rem;
  color: whitesmoke;
}

section.banner2 {
  display: inline-flex;
}

div.banner2Main {
  width: 60%;
  display: flex;
  flex-direction: column;
}

div.bannerPic2Container {
  display: flex;
  width: 100%;
}

img.bannerPic2 {
  width: 100%;
}

div.banner2Aside {
  width: 40%;
  display: flex;
  flex-direction: column;
}

div.asideCard1 {
  display: flex;
}

img.card1Pic {
  width: 35%;
  height: auto;
}

div.card1Info {
  width: 65%;
  height: auto;
}

