html {
  font-size: 16px;
}

body {
  margin: 0px;
}

header {
  height: 4rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logoContainer {
  display: flex;
  align-items: center;
}


nav.navLinks {
  margin-right: 3rem;
}

a.navlink{
  margin-right: 1rem;
}

section.banner {
  background-color: gray;
  display: flex; 
}

div.bannerPicContainer {
  width: 60%;
  display:inline-flex;
  
}

img.bannerPic {
  margin: 2rem 1.5rem;
  overflow: auto;
}

div.bannerTitleContainer {
  display: inline-block;
  margin-left: 2rem;
  font-size: 2.5rem;
}

h1.bannerTitle {
  
}

